{
  "DEBUG": false,

  "BACKEND_URL": "<YOUR-BACKEND-URL>",

  "LOGGLY_TOKEN": "<YOUR-LOGGLY-TOKEN>",
  "LOGGLY_SUBDOMAIN": "<YOUR-LOGGLY-SUBDOMAIN>",
  "LOGGLY_UUID": "<YOUR-LOGGLY-UUID>",

  "VNC_PASSOWRD": "hola",

  "DOCKER_STARTUP_TIMEOUT": 30,
  "DOCKER_RUN_TIMEOUT": 1200
}
