{
  "DEBUG": false,

  "BACKEND_URL": "http://192.168.1.32/shoov.local/",

  "LOGGLY_TOKEN": "704620e7-c3d4-4d84-a0c1-926e5147592c",
  "LOGGLY_SUBDOMAIN": "gizra",
  "LOGGLY_UUID": "nodejs-dev",

  "VNC_PASSOWRD": "hola",

  "DOCKER_STARTUP_TIMEOUT": 30,
  "DOCKER_RUN_TIMEOUT": 1200
}
